<section class="content-form col-10 mt-5 pt-5 ms-5 ps-3">
  <h1 class="mb-5 text-color">
    Редактирование дохода/расхода
  </h1>
  <div class="form-details">
    <div class="form-group">
      <select class="form-select mb-2" aria-label="Пример выбора по умолчанию" id="selectProfitCost">
        <option selected>Тип ...</option>
        <option value="доход">Доход</option>
        <option value="расход">Расход</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-select mb-2" aria-label="Пример выбора по умолчанию" id="categoriesSelect">
        <option selected>Категория ...</option>
<!--        <option value="1"></option>-->
<!--        <option value="2"></option>-->
      </select>
    </div>
    <div class="form-group">
      <input type="number" class="form-input form-control mb-2" id="amount" placeholder="500$">
    </div>
    <div class="form-group">
      <input type="text" class="form-input form-control mb-2" id="editing-profit-cost-date" placeholder="11.09.2022">
    </div>
    <div class="form-group">
      <input type="text" class="form-input form-control mb-2" id="comment" placeholder="Комментарий..." required>
    </div>
  </div>
  <div class="form-button d-flex mt-3">
    <button type="button" class="btn btn-success me-2" id="editItemProfitCost">Сохранить</button>
    <button type="button" class="btn btn-danger" id="cancelEditItemProfitCost">Отмена</button>
  </div>
</section>