<section class="editing-category-cost col-10 mt-5 pt-5 ms-5 ps-3">
  <h1 class="mb-5 text-color">
    Редактирование категории расходов
  </h1>
  <div class="form-details">
    <div class="form-group">
      <input type="text" class="form-input form-control mb-2" id="newNameCategoryCost">
    </div>
  </div>
  <div class="form-button d-flex mt-3">
    <button type="button" class="btn btn-success me-2" id="editCategoryCostButton">Сохранить</button>
    <button type="button" class="btn btn-danger" id="cancelEditCategoryCostButton">Отмена</button>
  </div>
</section>