<section class="cost col-10 mt-5 pt-5 ms-5 ps-3">
  <h1 class="mb-5 text-color">Доходы</h1>
  <div class="cost-items d-flex flex-wrap" id="wrapper-profit-categories">
<!--    <div class="cost-item p-3 border border-secondary rounded-1 border-opacity-50 me-3 mb-3">-->
<!--      <h2 class="cost-title mb-2 text-color">Депозиты</h2>-->
<!--      <div class="cost-buttons">-->
<!--        <button type="button" class="btn btn-primary me-2">Редактировать</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="cost-item p-3 border border-secondary rounded-1 border-opacity-50 me-3 mb-3">-->
<!--      <h2 class="cost-title mb-2 text-color">Зарплата</h2>-->
<!--      <div class="cost-buttons">-->
<!--        <button type="button" class="btn btn-primary me-2">Редактировать</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="cost-item p-3 border border-secondary rounded-1 border-opacity-50 me-3 mb-3">-->
<!--      <h2 class="cost-title mb-2 text-color">Сбережения</h2>-->
<!--      <div class="cost-buttons">-->
<!--        <button type="button" class="btn btn-primary me-2">Редактировать</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="cost-item p-3 border border-secondary rounded-1 border-opacity-50 me-3 mb-3">-->
<!--      <h2 class="cost-title mb-2 text-color">Инвестиции</h2>-->
<!--      <div class="cost-buttons">-->
<!--        <button type="button" class="btn btn-primary me-2">Редактировать</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>-->
<!--      </div>-->
<!--    </div>-->

    <a href="#/create-category-profit" class="cost-item p-3 border border-secondary rounded-1 border-opacity-50 me-3 mb-3 d-flex justify-content-center align-items-center">
      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z" fill="#CED4DA"/>
      </svg>
    </a>
  </div>

  <!-- Модальное окно -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-color fw-bold text-center border-0 py-5 pt-5 pb-3">
          Вы действительно хотите удалить категорию? <br>Связанные доходов будут удалены навсегда.
        </div>
        <div class="modal-footer border-0 pt-1 pb-5 d-flex justify-content-center">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="removeCategoryProfit">Да, удалить</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="cancelRemoveCategoryProfit">Не удалять</button>
        </div>
      </div>
    </div>
  </div>
</section>